{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-implicit-coercion": "error",
    "no-unreachable": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 0
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "warn",
          "error",
          "table"
        ]
      }
    ],
    "@typescript-eslint/no-floating-promises": "error",
    "max-len": ["error", 120],
    "no-extra-semi": "error",
    "semi": "error",
    "eol-last": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/ban-types": "error",
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "semi-style": "error",
    "no-constant-condition": "off"
  }
}
